* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 20px;
    background-color: hsl(0, 0%, 85%);
}

.link {
    padding: 15px;
    border: none;
    border-radius: 5px;

    font-size: 1.1rem;

    background-color: hsl(0, 0%, 85%);

    outline: none;
    transition: all 0.25s;
}

.dropdown-wrapper.active > .link,
.link:hover {
    background-color: hsl(0, 0%, 74%);
}

/* Enable absolute positioning for dropdown menus! */ 
.dropdown-wrapper {
    position: relative;
}

.dropdown-menu {
    position: absolute;

    left: 0;
    top: calc(100% + 5px);

    padding: 10px;
    background-color: white;

    width: 100%;
    
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);

    /* The dropdowns shouldn't be clickable while invisible */
    pointer-events: none;

    /* Hide dropdowns by default */
    opacity: 0;

    transform: translateY(-10px);

    transition: all 150ms ease-in-out;
}

.dropdown-wrapper.active > .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.info {
    display: flex;
    flex-direction: column;
    
    width: clamp(45ch, 50%, 75ch);

    gap: 10px;
}